h1 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 50px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 55px;
	text-align: left } 
h2 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px;
	text-align: left} 
h3 { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px;
	text-align: center } 
p { font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px;
	text-align: left } 

ul {

	font-family: "Andale Mono", AndaleMono, monospace; 
	font-size: 16px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px;
	text-align: left

}

ul li {
	list-style: none;
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: black;
	padding: 15px;
}

ul li a:hover {
  font-weight: 700;
}

.hero {
  padding: 20px;
  margin: auto;
  width: 100%;
  position: absolute;
  left: 20%;
  top: 10%;
}

.hero p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: center;
}

.body p {
	line-height: 1.5;
  display: inline-block;
  vertical-align: left;
}

nav {
	border: 0;
  padding: 0px;
  margin: auto;
  width: 100%;
  left: 110%;
  top: 7%;
  margin: auto;
  position: absolute;
  transform: translate(-55%, -50%);
}

/* unvisited link */
a:link, a:visited {
  color: black;
}
*/